@font-face {
	font-family: 'Myriad_Pro_Cond';
	src: url('../fonts/Myriad_Pro_Cond.eot');
    src: local('☺'), url('../fonts/Myriad_Pro_Cond.woff') format('woff'), 
                    url('../fonts/Myriad_Pro_Cond.ttf') format('truetype'), 
                    url('../fonts//Myriad_Pro_Cond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Myriad_Pro_Cond', sans-serif;
    background-color: #ffffff;
}

.container {
    max-width: 970px;
    margin: 0 auto;
}

.intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 484px;
    background-image: url('../images/header-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    z-index: 1;
}

.intro-contacts {
    color: #fefefe;
    margin-right: 20px;
    line-height: 24px;
}

.intro-contacts__title {
    font-size: 18px;
}

.intro-contacts__phone {
    font-size: 48px;
}

.intro-contacts__phone span {
    font-size: 26px;
}

.page-header {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #02a2d0;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    color: #fff;
    padding: 8px 38px;
    margin-right: 19px;
    transition: background-color .2s linear;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link_active, 
.nav__link:hover {
    background-color: #03bddd;
}

/* production */
.production {
    margin-bottom: 60px;
}

.production__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

.production__item {
    display: flex;
    align-items: center;
    margin-right: 85px;
}

.production__item:last-child {
    margin-right: 0;
}

.production__img {
    display: block;
}

.production-services {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.production-services__title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    color: #4e4e4e;
}

.production-services__description {
    font-family: 'Tahoma', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #868787;
    line-height: 21px;
    margin-bottom: 13px;
}

.production-services__link {
    font-family: 'Tahoma', sans-serif;
    display: block;
    font-size: 10px;
    color: #03a9d7;
    text-transform: uppercase;
}

.production-services__link:hover {
    text-decoration: none;
}

/* section__company */
.section__company {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.news {
    min-width: 300px;
    padding: 0 70px 0 10px;
}

.news__title,
.content__title {
    font-size: 23px;
    line-height: 24px;
    text-transform: uppercase;
}

.news__title {
    color: #008fbf;
    margin-bottom: 25px;
}

.content__title {
    color: #00a0c9;
    margin-bottom: 5px;
}

.news__list {
    font-size: 12px;
    line-height: 16px;
}

.news__date {
    color: #2a2a2a;
    text-decoration: underline;
    padding-right: 3px;
}

.news__item {
    margin-bottom: 5px;
}

.news__item:last-child {
    margin-bottom: 10px;
}

.news__link {
    color: #00a7c0;
    text-decoration: underline;
    padding-left: 3px;
}

.company__link {
    display: block;
    color: #015967;
    font-size: 13px;
    margin-bottom: 30px;
}

.news__subtitle {
    font-size: 23px;
    color: #1f6f7c;
}

.news__description {
    font-size: 13px;
    color: #04a7c0;
    margin-bottom: 10px;
}

.news__btn {
    position: relative;
    width: 230px;
    background-color: #04abd9;
    border-radius: 10px;
    border: none;
    padding: 5px 0 5px 70px;
    color: #fff;
    font-size: 20px;
    line-height: 16px;
    text-align: left;
    background-image: url(../images/prev-btn.png);
    background-repeat: no-repeat;
    background-position: 25px 50%;
    transition: color .2s linear;
}

.news__btn:hover {
    color: #77d7f1;
}

.news__btn span {
    font-size: 12px;
    display: block;
}

.news__btn span::before {
    position: absolute;
    content: "";
    border-left: 1px solid #018db9;
    box-shadow: 0 0 0 2px #02b3d8;
    width: 1px;
    height: 25px;
    top: 10px;
    left: 50px;
    opacity: .4;
}

.content {
    padding: 0 115px 0 30px;
}

.content__description {
    font-size: 13px;
    color: #797979;
    border-top: 1px dotted #d5d5d5;
    border-bottom: 1px dotted #d5d5d5;
    padding: 10px 0 5px 0;
    line-height: 24px;
    margin-bottom: 20px;
}

.services {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #d5d5d5;
    padding-bottom: 10px;
}

.content__subtitle {
    font-size: 19px;
    color: #008fbf;
    margin-bottom: 20px;
}

.services__list {
    line-height: 22px;
}

.services__link {
    color: #11adc4;
    font-size: 13px;
    text-decoration: underline;
    display: block;
    position: relative;
}

.services__link::before {
    content: "-";
    position: absolute;
    top: 0;
    left: -5px;
}