@font-face {
    font-family: 'MuriadPro Cond';
    src: url(../fonts/16180.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

body {
    background-color: #ffffff;
    font-family: 'MuriadPro Cond';
    line-height: 24px;
}

.container {
    max-width: 970px;
    margin: 0 auto;
}

.intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 484px;
    background-image: url('../images/header-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    z-index: 1;
}

.intro-contacts {
    color: #fefefe;
    margin-right: 20px;
}

.intro-contacts__title {
    font-size: 18px;
}

.intro-contacts__phone {
    font-size: 48px;
}

.intro-contacts__phone span {
    font-size: 26px;
}

.page-header {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #02a2d0;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    color: #fff;
    padding: 8px 38px;
    margin-right: 20px;
    transition: background .2s linear;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link_active, 
.nav__link:hover {
    background-color: #03bddd;
}