@font-face {
	font-family: 'Myriad_Pro_Cond';
	src: url('../fonts/Myriad_Pro_Cond.eot');
    src: local('☺'), url('../fonts/Myriad_Pro_Cond.woff') format('woff'), 
                    url('../fonts/Myriad_Pro_Cond.ttf') format('truetype'), 
                    url('../fonts//Myriad_Pro_Cond.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Myriad_Pro_Cond', sans-serif;
    background-color: #ffffff;
}

.container {
    max-width: 970px;
    margin: 0 auto;
}

.intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 484px;
    background-image: url('../images/header-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    z-index: 1;
}

.intro-contacts {
    color: #fefefe;
    margin-right: 20px;
    line-height: 24px;
}

.intro-contacts__title {
    font-size: 18px;
}

.intro-contacts__phone {
    font-size: 48px;
}

.intro-contacts__phone span {
    font-size: 26px;
}

.page-header {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #02a2d0;
}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    color: #fff;
    padding: 8px 38px;
    margin-right: 19px;
    transition: background-color .2s linear;
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link_active, 
.nav__link:hover {
    background-color: #03bddd;
}

/* production */
.production {
    margin-bottom: 60px;
}

.production__item {
    display: flex;
    flex-wrap: wrap;
}

.production__list {
    display: flex;
    align-items: center;
    margin-right: 90px;
}

.production__list:last-child {
    margin-right: 0;
}

.production__img {
    display: block;
}

.production-services {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.production-services__title {
    text-transform: uppercase;
    font-size: 17px;
    color: #4e4e4e;
}

.production-services__description {
    font-family: Tahoma, sans-serif;
    font-size: 11px;
    color: #868787;
    line-height: 21px;
    margin-bottom: 13px;
}

.production-services__link {
    font-family: Tahoma, sans-serif;
    display: block;
    font-size: 10px;
    color: #03a9d7;
    text-transform: uppercase;
}

.production-services__link:hover {
    text-decoration: none;
}